@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,400;0,600;0,700;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  box-sizing: border-box;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}

h1,
h2,
h3,
h4,
p {
  overflow-wrap: break-word;
}

/* q p {
  font-family: 'Petrona', serif !important;
  display: inline;
} */

a:focus-visible,
button:focus-visible {
  outline: 4px solid #9f1239;
  outline-offset: 3px;
  border-radius: 4px;
}

input:focus-visible,
a:focus-visible,
button:focus-visible {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
